*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background: linear-gradient(180deg, #e66465, #9198e5);
}
.demo{
    align-items: center;
    display: flex;
    padding: 10%;
    height: auto;
    width: 100%;
    justify-content: center;
}
.container{
    align-items: center;
    background-color: #FFFFFF;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    width: 500px;
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.header{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    top: 10%;
}
.left-logo{
    margin-left: 10px;
    display: flex;
    align-items: center;
}
.left-logo > img{
    height: 25px;
    align-items: center;
}
.left-text{
    display: flex;
    align-items: center;
}
.left-text > h2{
    font-weight: 800;
    align-items: center;
}
.add-task{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 110px;
    width: 500px;
}
.input-task::placeholder {
    align-items: center;
    padding: 12px 20px;
  }

.input-task[type=text] {
    padding: 12px 20px;
  }

.input-task{
    height: 30px;
    width: 200px;
    border-radius: 15px;
    margin-bottom: 5px;
}
.Add{
    height: 25px;
    cursor: pointer;
    background-color:aqua;
    border-radius: 15px;
    margin-bottom: 5px;
}
.body-list{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 500px;
}
.item-list{
    align-items: center;
}
.item-list{
    position: relative;
    width: 350px;
    font-size: large;
    list-style: none;
}
.item-list li{
    position: relative;
    display: flex;
    left: 0;
    cursor: pointer;
    width: 300px;
    align-items: center;
    padding-top: 10px;
}
.item-list li::before{
    margin-right: 10px;
    cursor: pointer;
    background-color:aqua;
    height: 20px;
    width: 20px;
    content: '';
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}

.item-list li.checked{
    color: aqua;
    text-decoration: line-through;
}
.item-list span{
    position:absolute;
    text-align: center;
    right: 0px;
    width: 30px;
    font-size: 30px;
}
.item-list span:hover{
    position:absolute;
    align-items: center;
    right: 0px;
    font-size: 30px;
    height: 30px;
    width: 30px;
    cursor: pointer;
    background-color: rgb(163, 161, 160);
    border-radius: 50%;
}